apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      containers:
        - name: home-assistant
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          volumeMounts:
            - name: config
              mountPath: /config
            - name: configmap
              mountPath: /config/configuration.yaml
              subPath: configuration.yaml
            {{- range .Values.extraVolumeMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
            {{- end }}
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: home-assistant-config
        - name: configmap
          configMap:
            name: {{ .Values.configMapName }}
        {{- range .Values.extraVolumes }}
        - name: {{ .name }}
          {{- if .hostPath }}
          hostPath:
            path: {{ .hostPath }}
          {{- end }}
        {{- end }}
