authentik:
  authentik:
    secret_key:
      valueFrom:
        secretKeyRef:
          name: authentik-secret
          key: secret_key

    postgresql:
      password:
        valueFrom:
          secretKeyRef:
            name: authentik-db-secret
            key: password
