forgejo-runner:
  global:
    image:
      registry:
      pullPolicy:

  replicaCount: 1

  image:
    registry: code.forgejo.org
    repository: forgejo/runner
    pullPolicy: IfNotPresent
    tag: ""

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  runner:
    config:
      # Set create to true to let the chart handle registration
      create: true
      existingSecret: ""
      
      # Use existingInitSecret for the registration token
      existingInitSecret: forgejo-runner-token

      instance: https://forgejo.eldamar.dev
      name: k3s-runner
      token: ""  # Token comes from existingInitSecret
      
      file:
        log:
          level: "info"
          job_level: info
        runner:
          file: ".runner"
          capacity: 2
          envs: {}  # Removed test env vars
          env_file: .env
          timeout: 3h
          insecure: false
          fetch_timeout: 5s
          fetch_interval: 2s
          labels:
            - "ubuntu-latest:docker://catthehacker/ubuntu:act-22.04"
            - "ubuntu-22.04:docker://catthehacker/ubuntu:act-22.04"
            - "rust:docker://rust:1.84-bookworm"
            - "node:docker://node:20-bookworm"
            - "alpine:docker://alpine:latest"

        cache:
          enabled: true
          dir: ""
          host: ""
          port: 0
          external_server: ""

        container:
          network: ""
          enable_ipv6: false
          privileged: true
          options: ""
          workdir_parent: ""
          valid_volumes:
            - '**'
          docker_host: ""
          force_pull: false

        host:
          workdir_parent: ""

  dind:
    image:
      registry: docker.io
      repository: library/docker
      pullPolicy: IfNotPresent
      tag: 29.0.2-dind
    resources: {}

  kubectl:
    image:
      registry: docker.io
      repository: alpine/kubectl
      pullPolicy: IfNotPresent
      tag: 1.34.2

  serviceAccount:
    create: true
    automount: true
    annotations: {}
    name: ""

  podAnnotations: {}
  podLabels: {}

  podSecurityContext:
    fsGroup: 1000

  securityContext:
    privileged: true

  resources: {}

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    behavior: {}
    targetCPUUtilizationPercentage: 80

  volumes: []
  volumeMounts: []

  nodeSelector: {}
  tolerations: []
  affinity: {}

  extraEnvVars: []

  priorityClassName: ""
